
@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (max-width: 992px) {
	header .logo_text {
	    margin: 0 0 30px 0;
	}

	header .text {
	    padding: 0 0 30px 0;
	    text-align: center;
	}

	header .phone {
	    text-align: center;
	    font-size: 42px;
	}

	header .phone span {
	    height: 50px;
	    width: 50px;
	}

	header .phone a {
		text-decoration: none;
	    padding: 20px 31px;
	    border: 2px solid #fff;
	    border-radius: 22px;
	    margin: 30px 0 40px 0;
	}

	#top {
	    background-size: 0%;
	}

	h1 {
	    text-align: center;
	}

	#top h5 {
	    font-size: 26px;
	    text-align: center;
	}

	#top .row_info_item {
	    width: 30%;
	    margin-left: 1%;
	}

	#select .header p {
	    text-align: center;
	}

	#select_body .select_body_show .item a {
	    background-size: 60px;
	}

	#company {
	    background-size: 0px;
	}

	#think h5 {
	    text-align: center;
	}

	#think .info{
	    margin: 30px 0 0 0;
	}

	#check_pdf h4 {
	    text-align: center;
	}

	#slider .video {
	    margin: 0 0 30px 0;
	}
}

@media (max-width: 680px) {
	#top .row_info_item {
	    width: 100%;
	}

	#top .clock {
	    background-size: 46px;
	    padding: 20px 0 0 64px;
	    min-height: 60px;
	}

	#top .car {
	    background-size: 60px;
	    padding: 20px 0 0 64px;
	    min-height: 60px;
	}

	#top .money {
	    background-size: 46px;
	    padding: 20px 0 0 64px;
	    min-height: 60px;
	}

	#slider .arrow_next_owl {
	    display: none;
	}
}

@media (max-width: 470px) {
	header .text {
	    font-size: 18px;
	}

	header .phone {
	    font-weight: 600;
	    font-size: 26px;
	}

	header .phone span {
	    height: 36px;
	    width: 36px;
	}

	h1 {
	    font-size: 28px;
	}

	#select .header p {
	    font-size: 14px;
	}

	#select .answer ul li span {
	    width: 25px;
	    height: 25px;
	    font-size: 12px;
	}

	#select .answer ul li div {
	    width: 10px;
	    top: 14px;
	    margin: 0 4px;
	}

	#company input{
		width: 80%;
		margin-bottom: 20px;
	}

	form{
		text-align: center;
	}

	#think h5 {
	    font-size: 20px;
	}

	#think .info .item {
	    font-size: 16px;
	    font-weight: 600;
	}

	#check_pdf h4 {
	    font-size: 22px;
	    font-weight: 600;
	    margin: 0 0 40px 0;
	}	

	#check_pdf input[type="text"] {
	    margin: 0 0 20px 0;
	}

	#check_pdf input{
	    width: 80%;
	    margin-bottom: 20px;
	}

	#slider .video {
	    min-height: 314px;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	header .text {
	    font-size: 18px;
	    padding: 0 0 0 37px;
	}

	header .phone {
	    font-size: 26px;
	}

	#select_body .select_body_show .item a {
	    font-size: 14px;
	}

	#check_pdf input[type="text"] {
	    margin: 0 0 0 0;
	    width: 49%;
	}

	#check_pdf input[type ="submit"] {
	    width: 50%;
	}
}