
@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (max-width: 992px) {
	header .logo_text {
	    margin: 0 0 30px 0;
	}

	header .text {
	    padding: 0 0 30px 0;
	    text-align: center;
	}

	header .phone {
	    text-align: center;
	    font-size: 42px;
	}

	header .phone span {
	    height: 50px;
	    width: 50px;
	}

	header .phone a {
		text-decoration: none;
	    padding: 20px 31px;
	    border: 2px solid #fff;
	    border-radius: 22px;
	    margin: 30px 0 40px 0;
	}

	#top {
	    background-size: 0%;
	}

	h1 {
	    text-align: center;
	}

	#top h5 {
	    font-size: 26px;
	    text-align: center;
	}

	#top .row_info_item {
	    width: 30%;
	    margin-left: 1%;
	}

	#select .header p {
	    text-align: center;
	}

	#select_body .select_body_show .item a {
	    background-size: 60px;
	}

	#company {
	    background-size: 0px;
	}

	#think h5 {
	    text-align: center;
	}

	#think .info{
	    margin: 30px 0 0 0;
	}

	#check_pdf h4 {
	    text-align: center;
	}

	#slider .video {
	    margin: 0 0 30px 0;
	}

	#vibor_1 .activ a {
	    padding: 143px 10px 0px 10px;
	    min-height: 193px;
	    font-size: 12px;
	}

	#vibor_1 .activ .arrow {
	    bottom: -48px;
	    width: 100%;
	}

	#vibor_1 .item a {
	    font-size: 12px;
	}

	#vibor_1 .gas a{
	    background: #eb6e1a url('../img/temp/gas.png')no-repeat center 25%;
	    background-size: 55px;
	}

	#vibor_1 .gas.activ a{
	    background: #fff url('../img/temp/gas_activ.png')no-repeat center 25%;
		background-size: 55px;
	}

	#vibor_1 .fuel a{
	    background: #eb6e1a url('../img/temp/fuel.png')no-repeat center 25%;
	    background-size: 55px;
	}

	#vibor_1 .fuel.activ a{
	    background: #fff url('../img/temp/fuel_activ.png')no-repeat center 25%;
	    background-size: 55px;
	}

	#vibor_1 .electric a{
	    background: #eb6e1a url('../img/temp/electric.png')no-repeat center 25%;
	    background-size: 55px;
	}

	#vibor_1 .electric.activ a{
	    background: #fff url('../img/temp/electric_activ.png')no-repeat center 25%;
	    background-size: 55px;
	}

	#vibor_1 .dizel a{
	    background: #eb6e1a url('../img/temp/dizel.png')no-repeat center 25%;
	    background-size: 55px;
	}

	#vibor_1 .dizel.activ a{
	    background: #fff url('../img/temp/dizel_activ.png')no-repeat center 25%;
	    background-size: 55px;
	}

	#vibor_1 .combo a{
	    background: #eb6e1a url('../img/temp/combo.png')no-repeat center 25%;
	    background-size: 55px;
	}

	#vibor_1 .combo.activ a{
	    background: #fff url('../img/temp/combo_activ.png')no-repeat center 25%;
	    background-size: 55px;
	}

	#vibor_1 .more a{
	    background: #eb6e1a url('../img/temp/more.png')no-repeat center 25%;
	    background-size: 55px;
	}

	#vibor_1 .more.activ a{
	    background: #fff url('../img/temp/more_activ.png')no-repeat center 25%;
	    background-size: 55px;
	}

	#vibor_2 .elem {
	    margin-bottom: 30px;
	}

	#vibor_1 h5 {
	    font-size: 22px;
	    text-align: center;
	}

	#slogan p {
	    font-size: 18px;
	    text-align: center;
	}

	#ingener {
	    background-size: 0px;
	    text-align: center;
	}	

	#ingener .form input[type="submit"] {
	    width: 38%;
	}

	footer{
		text-align: center;
	}

	footer .logo_text {
	    margin-bottom: 30px;
	}

	footer .text {
	    margin-bottom: 30px;
	}
	
	footer .phone {
	    text-align: center;
	}

	footer .phone a {
	    margin-bottom: 70px;
	}
}

@media (max-width: 680px) {
	#top .row_info_item {
	    width: 100%;
	}

	#top .clock {
	    background-size: 46px;
	    padding: 20px 0 0 64px;
	    min-height: 60px;
	}

	#top .car {
	    background-size: 60px;
	    padding: 20px 0 0 64px;
	    min-height: 60px;
	}

	#top .money {
	    background-size: 46px;
	    padding: 20px 0 0 64px;
	    min-height: 60px;
	}

	#slider .arrow_next_owl {
	    display: none;
	}

	#slider_d {
	    padding-bottom: 140px;
	}

	#ingener .form input[type="submit"] {
	    width: 100%;
	}

	#ingener .form input[type="text"] {
	    width: 100%;
	    margin-bottom: 20px;
	}

	#final {
	    background-size: 0px;
	}
}

@media (max-width: 470px) {
	header .text {
	    font-size: 18px;
	}

	header .phone {
	    font-weight: 600;
	    font-size: 26px;
	}

	header .phone span {
	    height: 36px;
	    width: 36px;
	}

	h1 {
	    font-size: 28px;
	}

	#select .header p {
	    font-size: 14px;
	}

	#select .answer ul li span {
	    width: 25px;
	    height: 25px;
	    font-size: 12px;
	}

	#select .answer ul li div {
	    width: 10px;
	    top: 14px;
	    margin: 0 4px;
	}

	#company input{
		width: 80%;
		margin-bottom: 20px;
	}

	form{
		text-align: center;
	}

	#think h5 {
	    font-size: 20px;
	}

	#think .info .item {
	    font-size: 16px;
	    font-weight: 600;
	}

	#check_pdf h4 {
	    font-size: 22px;
	    font-weight: 600;
	    margin: 0 0 40px 0;
	}	

	#check_pdf input[type="text"] {
	    margin: 0 0 20px 0;
	}

	#check_pdf input{
	    width: 80%;
	    margin-bottom: 20px;
	}

	#slider .video {
	    min-height: 314px;
	}

	#slider_d {
	    padding-bottom: 341px;
	}

	#ingener .form {
	    padding: 20px;
	}

	#final .item {
	    font-size: 18px;
	}

	#final h5 {
	    font-size: 24px;
	    text-align: center;
	}

	#final input[type="text"] {
	    width: 100%;
	    margin-bottom: 20px;
	}	

	#final input[type="submit"] {
	    width: 100%;
	    margin-bottom: 20px;
	}

	footer .phone {
	    text-align: center;
	}

	footer .phone a {
	    margin-bottom: 70px;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	header .text {
	    font-size: 18px;
	    padding: 0 0 0 37px;
	}

	header .phone {
	    font-size: 26px;
	}

	#select_body .select_body_show .item a {
	    font-size: 14px;
	}

	#check_pdf input[type="text"] {
	    margin: 0 0 0 0;
	    width: 49%;
	}

	#check_pdf input[type ="submit"] {
	    width: 50%;
	}

	#slider_d p {
	    font-size: 12px;
	}

	footer .phone {
	    font-size: 25px;
	    font-weight: 600;
	}

	footer .phone span {
	    height: 36px;
	    width: 36px;
	}

	footer .text {
	    font-size: 19px;
	    padding: 0 0 0 35px;
	}
}