body{
	background: #ffffff;
	font-family: 'Open Sans', sans-serif;
	color: #345875;
}

a:active, a:focus{
    text-decoration: none;
}

#more:active{
	text-decoration: none;
	color: #fff;
}

.pt_100{
	padding-top: 100px;
}

.pb_100{
	padding-bottom: 100px;
}

.pt_50{
	padding-top: 50px;
}

.pb_50{
	padding-bottom: 50px;
}

.link:hover{
	color: #eb6e1a;
    background: #fff;
    text-decoration: none;
}

.link{
	color: #fff;
    background: #eb6e1a;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #eb6e1a;
    border-radius: 3px;
}

.input_text{
	background: #ffffff;
    border: 1px solid #bcbcbc;
    border-radius: 3px;
    padding: 8px 10px;
}

header{
	min-height: 210px;
	background: #eb6e1a;
	color: #ffffff;
	padding: 50px 0 0 0;
}

header .logo_text{
	font-size: 46px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1;
}

header .logo_text span{
    font-weight: 400;
    font-size: 53px;
}

header .text{
    font-size: 22px;
    padding: 0 0 0 20px;
    font-weight: 300;
}

header .phone{
    text-align: right;
    font-size: 30px;
    font-weight: 700;
    line-height: 0.4;
}

header .phone a{
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    text-decoration: underline;
    font-weight: 300;
}

header .phone a:hover{
    text-decoration: none;
}

header .phone span{
    background: #1b4464;
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 50%;
    margin: 0px 12px 0 0;
    padding: 5px 0 0 0px;
    text-align: center;
}

#top{
	background: url('../img/temp/main_bg.png')no-repeat;
	background-size: 63%;
    background-position-x: 100%;
}

h1{
    font-size: 38px;
    font-weight: 600;
    color: #eb6e1a;
}

#top h5{
    font-size: 34px;
}

#top h5 span{
    background: #fcd072;
}

#top .dlock_info{
    padding: 40px 0 0 0;
    font-size: 18px;
}

#top .row_info{
    overflow: hidden;
    margin: 0 0 20px 0;
}

#top .clock{
    background: url(../img/temp/ico_clock.png)no-repeat 0 9px;
    background-size: 14%;
    padding: 0 0 0 55px;
}

#top .car{
    background: url(../img/temp/ico_car.png)no-repeat 0 18px;
    background-size: 16%;
    padding: 0 0 0 55px;
}

#top .money{
    background: url(../img/temp/ico_money.png)no-repeat 0 9px;
    background-size: 14%;
    padding: 0 0 0 55px;
}

#top .row_info_item{
    width: 50%;
    float: left;
}

#top .set_free{
	width: 70%;
    margin: 50px auto;
    border: 1px solid #989898;
    padding: 30px;
    text-align: center;
    font-size: 18px;
}

#top .set_free a{
    background: #eb6e1a;
    color: #fff;
    padding: 10px 25px;
    display: inline-block;
    margin: 30px 0 10px 0;
    border: 2px solid #eb6e1a;
}

#top .set_free a:hover{
    color: #eb6e1a;
    background: #fff;
    text-decoration: none;
}

#top .arrow_douwn{
    width: 100%;
    min-height: 121px;
    background: url('../img/temp/arrow_d.png') no-repeat 50% 50%;
}

#select .header p{
	font-size: 19px;
}

#select .answer{
	font-size: 20px;
	padding: 30px 0;
}

#select .answer .ans{
	float: left;
    margin: 0 25px 0 0;
}

#select .answer ul{
	list-style-type: none;
	padding: 0;
}

#select .answer ul li{
	float: left;
}

#select .answer ul li span{
	display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #cbcbcb;
    text-align: center;
    padding: 4px 0 0 0;
    color: #fff;
}

#select .answer ul li div{
	width: 30px;
    height: 2px;
    border-top: 5px solid #cbcbcb;
    content: "";
    float: left;
    position: relative;
    top: 14px;
    margin: 0 5px;
}

#select .answer ul li:first-child div{
	display: none;
}

#select .answer .activ span{
	background: #eb6e1a;
}

#select .answer .activ div{
	border-top: 5px solid #eb6e1a;
}

#select_body{
	background: #e9f0f5;
}

#select_body .header h2{
	margin: 0 0 30px 0;
}

#select_body .select_body_show{
	min-height: 190px;
}

#select_body .select_body_show .item{
	margin-bottom: 30px;
}

#select_body .select_body_show .item a{
	display: inline-block;
    width: 100%;
    min-height: 65px;
    color: #333333;
    vertical-align: middle;
    padding: 0 0 0 65px;
    font-size: 18px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    background-size: 20%;
    line-height: 1;
}

#select_body .select_body_show .home_1{
	background: #fff url(../img/temp/home_1.png)no-repeat 5px;
}		

#select_body .select_body_show .home_2{
	background: #fff url(../img/temp/home_2.png)no-repeat 5px;
}		

#select_body .select_body_show .home_3{
	background: #fff url(../img/temp/home_3.png)no-repeat 5px;
}		

#select_body .select_body_show .home_4{
	background: #fff url(../img/temp/home_4.png)no-repeat 5px;
}		

#select_body .select_body_show .home_5{
	background: #fff url(../img/temp/home_5.png)no-repeat 5px;
}		

#select_body .select_body_show .home_6{
	background: #fff url(../img/temp/home_6.png)no-repeat 5px;
}		

#select_body .select_body_show .home_7{
	background: #fff url(../img/temp/home_7.png)no-repeat 5px;
}		

#select_body .select_body_show .home_8{
	background: #fff url(../img/temp/home_8.png)no-repeat 5px;
}

#select_body .select_body_show .item a:hover{
	text-decoration: none;
	box-shadow: 0px 0px 6px 1px rgba(132, 130, 130, 0.51)
}

#select_body .select_body_show .item .selected{
	box-shadow: 0px 0px 17px 3px #77e67b;
}

#select_body .select_body_show .item .selected:hover{
	box-shadow: 0px 0px 17px 3px #77e67b;
}

#select_body .link_null{
	margin: 0 0 0 15px;
    background: #e9f0f5;
    color: #345875;
    border: 2px solid #aeaeae;
}

.thanks{
	font-size: 36px;
    color: #9bd0a2;
    line-height: 1;
}

.thanks span{
	font-size: 26px;
}

#company{
	background: url(../img/temp/work_bg.png)no-repeat 100% 0;
    background-size: 635px;
}

#company .text{
    font-size: 18px;
    margin: 40px 0;
    font-weight: 300;
}

#company input{
    margin: 0 15px 0 0;
    padding: 10px 10px;
}

#think h5{
    font-size: 31px;
    line-height: 0.8;
    padding: 0 0 40px 0;
}

#think img{
    width: 100%;
}

#think .info .item{
    min-height: 65px;
    padding: 0 0 0 75px;
    font-size: 21px;
    margin: 0 0 25px 0;
    font-weight: 700;
}

#think .info .ico_1{
    background: url(../img/temp/t_ico_1.png)no-repeat;
    background-size: contain;
}

#think .info .ico_2{
    background: url(../img/temp/t_ico_2.png)no-repeat;
    background-size: contain;
}

#think .info .ico_3{
    background: url(../img/temp/t_ico_3.png)no-repeat;
    background-size: contain;
}

#think .info .ico_4{
    background: url(../img/temp/t_ico_4.png)no-repeat;
    background-size: contain;
}

#check_pdf{
    background: #e9f0f5;
}

#check_pdf h4{
    font-size: 24px;
    font-weight: 700;
}

#check_pdf input[type="text"]{
    margin: 0 20px 0 0;
    font-size: 20px;
    font-weight: 300;
    padding: 14px;
}

#check_pdf input[type ="submit"]{
    font-size: 18px;
    font-weight: 300;
    padding: 14px 35px;
}

#check_pdf span{
    display: inline-block;
    color: #a8a8a8;
    margin: 15px 0 0 0;
}

#slider .owl-carousel{
    margin: 40px 0 0 0;
}

#slider .video{
    background: url(../img/temp/play_video.png)no-repeat center;
    min-height: 465px;
    border-radius: 8px;
    border: 3px solid #bbbecc;
    cursor: pointer;
}

#slider .img{
    min-height: 218px;
    border: 3px solid #bbbecc;
    margin: 0 0 30px 0;
    border-radius: 8px;
}

#slider .arrow_prev_owl{
    background: url(../img/temp/slider_arrow_left.png)no-repeat;
    width: 85px;
    height: 142px;
    position: absolute;
    top: 30%;
    left: -95px;
}

#slider .arrow_next_owl{
    background: url(../img/temp/slider_arrow_right.png)no-repeat;
    width: 85px;
    height: 142px;
    position: absolute;
    top: 30%;
    right: -95px;
}

.arrow_next_owl:hover, .arrow_prev_owl:hover{
    opacity: 0.7;
}

#vibor_1{
    background: #eb6e1a;
    color: #fff;
    margin: 0 0 25px 0;
}

#vibor_1 h1{
    color: #fff;
}

#vibor_1 h5{
    font-size: 24px;
    font-weight: 300;
}

#vibor_1 .list_item{
    margin: 55px 0 0 0;
}

#vibor_1 .item{
    width: 16.666666%;
    float: left;
    text-align: center;
    position: relative;
}

#vibor_1 .item a{
    color: #fff;
    background: #eb6e1a;
    width: 100%;
    height: 100%;
    padding: 143px 10px 10px 10px;
    display: block;
}

#vibor_1 .item a:hover{
    text-decoration: none;
}

#vibor_1 .activ .arrow{
    height: 40px;
    background: url(../img/temp/arrow_select.png)no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -44px;
    width: 100%;
}

#vibor_1 .activ a{
    color: #345875;
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 143px 10px 10px 10px;
    display: block;
}

#vibor_1 .gas a{
    background: #eb6e1a url('../img/temp/gas.png')no-repeat center 25%;
}

#vibor_1 .gas.activ a{
    background: #fff url('../img/temp/gas_activ.png')no-repeat center 25%;
}

#vibor_1 .fuel a{
    background: #eb6e1a url('../img/temp/fuel.png')no-repeat center 25%;
}

#vibor_1 .fuel.activ a{
    background: #fff url('../img/temp/fuel_activ.png')no-repeat center 25%;
}

#vibor_1 .electric a{
    background: #eb6e1a url('../img/temp/electric.png')no-repeat center 25%;
}

#vibor_1 .electric.activ a{
    background: #fff url('../img/temp/electric_activ.png')no-repeat center 25%;
}

#vibor_1 .dizel a{
    background: #eb6e1a url('../img/temp/dizel.png')no-repeat center 25%;
}

#vibor_1 .dizel.activ a{
    background: #fff url('../img/temp/dizel_activ.png')no-repeat center 25%;
}

#vibor_1 .combo a{
    background: #eb6e1a url('../img/temp/combo.png')no-repeat center 25%;
}

#vibor_1 .combo.activ a{
    background: #fff url('../img/temp/combo_activ.png')no-repeat center 25%;
}

#vibor_1 .more a{
    background: #eb6e1a url('../img/temp/more.png')no-repeat center 25%;
}

#vibor_1 .more.activ a{
    background: #fff url('../img/temp/more_activ.png')no-repeat center 25%;
}

#vibor_2 .container{
    padding-left: 0;
    padding-right: 0;
}

#vibor_2 .row{
    margin-bottom: 30px;
}

#vibor_2 .tabs{
    padding: 40px 0 0 0;
}

#vibor_2 .elem{
    overflow: hidden;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#vibor_2 .elem:hover{
    box-shadow: 0 0 11px 6px #eaeaea;
}

#vibor_2 .elem a{
    float: left;
    font-size: 216%;
    padding-top: 20%;
    line-height: 0.6;
}

#vibor_2 .elem span{
    font-size: 12px;
}

#vibor_2 .elem a:hover{
    text-decoration: none;
}

#vibor_2 .elem img{
    width: 36%;
    float: right;
}

#slogan{
    border-top: 1px solid #ccc;
}

#slogan p{
    font-size: 19px;
}

#slider_d{
    position: relative;
}

#slider_d .top{
    position: absolute;
    top: 0;
    width: 100%;
}

#slider_d .slider_head{
    background: #fff;
    z-index: 99;
}

#slider_d .slider_body{
    padding: 25px;
}

#slider_d h6{
    font-size: 20px;
    font-weight: 700;
    color: #eb6e1a;
    padding: 0 0 20px 0;
}

#slider_d p{
    font-size: 16px;
    font-weight: 300;
}

#slider_owl_2 .arrow_next_owl, #slider_owl_2 .arrow_prev_owl{
    display: none;
}

#slider_owl_3 .arrow_prev_owl{
    background: url(../img/temp/slider_arrow_left.png)no-repeat;
    position: absolute;
    top: 0;
    width: 25px;
    height: 42px;
    background-size: contain;
    right: 36px;
}

#slider_owl_3 .arrow_next_owl{
    background: url(../img/temp/slider_arrow_right.png)no-repeat;
    position: absolute;
    top: 0;
    width: 25px;
    height: 42px;
    background-size: contain;
    right: 0px;
}

#ingener{
    background: #f0f3f8 url('../img/temp/ingener_bg.png')no-repeat 100% bottom;
    background-size: 978px;
}

#ingener p{
    font-size: 20px;
    font-weight: 300;
    padding: 30px 0;
}

#ingener i{
    font-size: 22px;
    margin: 0 10px 0 0;
    color: #9e9e9e;
    position: relative;
    top: 3px;
}

#ingener a{
    color: #9e9e9e;
    border-bottom: 2px dotted #9e9e9e;
}

#ingener a:hover{
    text-decoration: none;
    border-bottom: 2px dotted #f0f3f8;
}

#ingener .form{
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 50px;
    margin: 50px 0 0 0;
}

#ingener .form h5{
    font-size: 24px;
    font-weight: 600;
}

#ingener .form h3{
    font-size: 16px;
    font-weight: 300;
    padding-top: 0px;
    margin: 0 0 30px 0;
}

#ingener .form input[type="text"]{
    width: 25%;
    margin-right: 1%;
    padding: 12px;
}

#ingener .form input[type="submit"]{
    width: 25%;
    margin-right: 1%;
    padding: 12px;
}

#ingener .form span{
    font-size: 12px;
    color: #8a8a8a;
    padding: 15px 0 0 0;
    display: inline-block;
}

#final{
    background: url(../img/temp/work_bg.png)no-repeat 100% 0;
    background-size: 635px;
}

#final .item{
    font-size: 25px;
    font-weight: 300;
    padding: 0 0 0 46px;
    margin: 30px 0 0 0;
    background: url(../img/temp/check_list.png)no-repeat 0 center;
    background-size: 30px;
}

#final h5{
    font-size: 26px;
    font-weight: 600;
    margin: 43px 0 30px 0;
}

#final input[type="text"]{
    padding: 12px;
    margin-right: 15px;
}

footer{
    min-height: 210px;
    background: #eb6e1a;
    color: #ffffff;
    padding: 50px 0 0 0;
}

footer .logo_text{
    font-size: 46px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1;
}

footer .logo_text span{
    font-weight: 400;
    font-size: 53px;
}

footer .text{
    font-size: 22px;
    padding: 0 0 0 20px;
    font-weight: 300;
}

footer .phone{
    text-align: right;
    font-size: 30px;
    font-weight: 700;
    line-height: 0.4;
}

footer .phone a{
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    text-decoration: underline;
    font-weight: 300;
}

footer .phone a:hover{
    text-decoration: none;
}

footer .phone span{
    background: #1b4464;
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 50%;
    margin: 0px 12px 0 0;
    padding: 5px 0 0 0px;
    text-align: center;
}

.popup{
    display: none;
    width: 330px;
    text-align: center;
    padding-top: 40px;
}

.popup h4{
    font-size: 24px;
    margin-bottom: 30px;
}

.popup input{
    width: 80%;
    margin-bottom: 20px;
}

a[title='thanks']{
    display: none;
}



