body{
	background: #ffffff;
	font-family: 'Open Sans', sans-serif;
	color: #345875;
}

#more:active{
	text-decoration: none;
	color: #fff;
}

.pt_100{
	padding-top: 100px;
}

.pb_100{
	padding-bottom: 100px;
}

.pt_50{
	padding-top: 50px;
}

.pb_50{
	padding-bottom: 50px;
}

.link:hover{
	color: #eb6e1a;
    background: #fff;
    text-decoration: none;
}

.link{
	color: #fff;
    background: #eb6e1a;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #eb6e1a;
    border-radius: 3px;
}

.input_text{
	background: #ffffff;
    border: 1px solid #bcbcbc;
    border-radius: 3px;
    padding: 8px 10px;
}

header{
	min-height: 210px;
	background: #eb6e1a;
	color: #ffffff;
	padding: 50px 0 0 0;
}

header .logo_text{
	font-size: 46px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1;
}

header .logo_text span{
    font-weight: 400;
    font-size: 53px;
}

header .text{
    font-size: 22px;
    padding: 0 0 0 20px;
    font-weight: 300;
}

header .phone{
    text-align: right;
    font-size: 30px;
    font-weight: 700;
    line-height: 0.4;
}

header .phone a{
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    text-decoration: underline;
    font-weight: 300;
}

header .phone a:hover{
    text-decoration: none;
}

header .phone span{
    background: #1b4464;
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 50%;
    margin: 0px 12px 0 0;
    padding: 5px 0 0 0px;
    text-align: center;
}

#top{
	background: url('../img/temp/main_bg.png')no-repeat;
	background-size: 63%;
    background-position-x: 100%;
}

h1{
    font-size: 38px;
    font-weight: 600;
    color: #eb6e1a;
}

#top h5{
    font-size: 34px;
}

#top h5 span{
    background: #fcd072;
}

#top .dlock_info{
    padding: 40px 0 0 0;
    font-size: 18px;
}

#top .row_info{
    overflow: hidden;
    margin: 0 0 20px 0;
}

#top .clock{
    background: url(../img/temp/ico_clock.png)no-repeat 0 9px;
    background-size: 14%;
    padding: 0 0 0 55px;
}

#top .car{
    background: url(../img/temp/ico_car.png)no-repeat 0 18px;
    background-size: 16%;
    padding: 0 0 0 55px;
}

#top .money{
    background: url(../img/temp/ico_money.png)no-repeat 0 9px;
    background-size: 14%;
    padding: 0 0 0 55px;
}

#top .row_info_item{
    width: 50%;
    float: left;
}

#top .set_free{
	width: 70%;
    margin: 50px auto;
    border: 1px solid #989898;
    padding: 30px;
    text-align: center;
    font-size: 18px;
}

#top .set_free a{
    background: #eb6e1a;
    color: #fff;
    padding: 10px 25px;
    display: inline-block;
    margin: 30px 0 10px 0;
    border: 2px solid #eb6e1a;
}

#top .set_free a:hover{
    color: #eb6e1a;
    background: #fff;
    text-decoration: none;
}

#top .arrow_douwn{
    width: 100%;
    min-height: 121px;
    background: url('../img/temp/arrow_d.png') no-repeat 50% 50%;
}

#select .header p{
	font-size: 19px;
}

#select .answer{
	font-size: 20px;
	padding: 30px 0;
}

#select .answer .ans{
	float: left;
    margin: 0 25px 0 0;
}

#select .answer ul{
	list-style-type: none;
	padding: 0;
}

#select .answer ul li{
	float: left;
}

#select .answer ul li span{
	display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #cbcbcb;
    text-align: center;
    padding: 4px 0 0 0;
    color: #fff;
}

#select .answer ul li div{
	width: 30px;
    height: 2px;
    border-top: 5px solid #cbcbcb;
    content: "";
    float: left;
    position: relative;
    top: 14px;
    margin: 0 5px;
}

#select .answer ul li:first-child div{
	display: none;
}

#select .answer .activ span{
	background: #eb6e1a;
}

#select .answer .activ div{
	border-top: 5px solid #eb6e1a;
}

#select_body{
	background: #e9f0f5;
}

#select_body .header h2{
	margin: 0 0 30px 0;
}

#select_body .select_body_show{
	min-height: 190px;
}

#select_body .select_body_show .item{
	margin-bottom: 30px;
}

#select_body .select_body_show .item a{
	display: inline-block;
    width: 100%;
    min-height: 65px;
    color: #333333;
    vertical-align: middle;
    padding: 0 0 0 65px;
    font-size: 18px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    background-size: 20%;
    line-height: 1;
}

#select_body .select_body_show .home_1{
	background: #fff url(../img/temp/home_1.png)no-repeat 5px;
}		

#select_body .select_body_show .home_2{
	background: #fff url(../img/temp/home_2.png)no-repeat 5px;
}		

#select_body .select_body_show .home_3{
	background: #fff url(../img/temp/home_3.png)no-repeat 5px;
}		

#select_body .select_body_show .home_4{
	background: #fff url(../img/temp/home_4.png)no-repeat 5px;
}		

#select_body .select_body_show .home_5{
	background: #fff url(../img/temp/home_5.png)no-repeat 5px;
}		

#select_body .select_body_show .home_6{
	background: #fff url(../img/temp/home_6.png)no-repeat 5px;
}		

#select_body .select_body_show .home_7{
	background: #fff url(../img/temp/home_7.png)no-repeat 5px;
}		

#select_body .select_body_show .home_8{
	background: #fff url(../img/temp/home_8.png)no-repeat 5px;
}

#select_body .select_body_show .item a:hover{
	text-decoration: none;
	box-shadow: 0px 0px 6px 1px rgba(132, 130, 130, 0.51)
}

#select_body .select_body_show .item .selected{
	box-shadow: 0px 0px 17px 3px #77e67b;
}

#select_body .select_body_show .item .selected:hover{
	box-shadow: 0px 0px 17px 3px #77e67b;
}

#select_body .link_null{
	margin: 0 0 0 15px;
    background: #e9f0f5;
    color: #345875;
    border: 2px solid #aeaeae;
}

.thanks{
	font-size: 36px;
    color: #9bd0a2;
    line-height: 1;
}

.thanks span{
	font-size: 26px;
}

#company{
	background: url(../img/temp/work_bg.png)no-repeat 100% 0;
    background-size: 635px;
}

#company .text{
    font-size: 18px;
    margin: 40px 0;
    font-weight: 300;
}

#company input{
    margin: 0 15px 0 0;
    padding: 10px 10px;
}

#think h5{
    font-size: 31px;
    line-height: 0.8;
    padding: 0 0 40px 0;
}

#think img{
    width: 100%;
}

#think .info .item{
    min-height: 65px;
    padding: 0 0 0 75px;
    font-size: 21px;
    margin: 0 0 25px 0;
    font-weight: 700;
}

#think .info .ico_1{
    background: url(../img/temp/t_ico_1.png)no-repeat;
    background-size: contain;
}

#think .info .ico_2{
    background: url(../img/temp/t_ico_2.png)no-repeat;
    background-size: contain;
}

#think .info .ico_3{
    background: url(../img/temp/t_ico_3.png)no-repeat;
    background-size: contain;
}

#think .info .ico_4{
    background: url(../img/temp/t_ico_4.png)no-repeat;
    background-size: contain;
}

#check_pdf{
    background: #e9f0f5;
}

#check_pdf h4{
    font-size: 24px;
    font-weight: 700;
}

#check_pdf input[type="text"]{
    margin: 0 20px 0 0;
    font-size: 20px;
    font-weight: 300;
    padding: 14px;
}

#check_pdf input[type ="submit"]{
    font-size: 18px;
    font-weight: 300;
    padding: 14px 35px;
}

#check_pdf span{
    display: inline-block;
    color: #a8a8a8;
    margin: 15px 0 0 0;
}

